body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", sans-serif;
}

a {
  text-decoration: none;
}

.main-header,
.service {
  background-color: #f3f7f8;
}

.header-top-menu,
.bottom-footer {
  background-color: #33445a;
  color: #ffffff;
}

.top-menu-logo,
.footer-logo {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #ff5357;
  color: #ffffff;
}

.top-menu-search__input,
.top-menu-bookmarks,
.top-menu-basket,
.top-menu-order {
  font-family: inherit;
  font-size: 17px;
  font-weight: 400;
  color: #ffffff;
  background-color: #33445a;
}

<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 44e031ac6e7fb43d1bd09175d0674855a130ec32
.top-menu-logo:hover {
  background-color: #ca2c37;
}

.top-menu-search__input:hover,
.top-menu-bookmarks:hover,
.top-menu-basket:hover {
  background-color: #212a3a;
}

.top-menu-bookmarks:active,
.top-menu-basket:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.top-menu-order:active {
  color: rgba(255, 255, 255, 0.51);
}

.top-menu-search__input:focus
{
  background-color: #ffffff;
  color: #000000;
}

<<<<<<< HEAD
=======
=======
>>>>>>> d110a8e5c065bc8ccdd8bb2071863c25ff114c3c
>>>>>>> 44e031ac6e7fb43d1bd09175d0674855a130ec32
.top-menu-order {
  background-color: #6db254;
}

.top-menu-search__input::-webkit-input-placeholder {
  color: #ffffff;
}

.top-menu-search__input::-moz-placeholder { /* Firefox 19+ */
  color: #ffffff;
  opacity: 1;
}

.top-menu-search__input:-ms-input-placeholder { /* IE 10+ */
  color: #ffffff;
  background-color: #33445a;
}

.top-menu-search__input:-moz-placeholder { /* Firefox 18- */
  color: #ffffff;
}

.middle-menu-description {
  font-size: 16px;
  font-style: italic;
  line-height: 1.44;
  color: #ff5357;
}

.middle-menu-phone {
  font-size: 21px;
  color: #fb463c;
}

.middle-menu-address {
  font-size: 14px;
}

.user-menu__btn {
  font-size: 21px;
  color: #000000;
  background-color: #ffffff;
}

<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 44e031ac6e7fb43d1bd09175d0674855a130ec32
.user-menu__btn:hover {
  color: #ee3643;
}

.user-menu__btn:active {
  color: rgba(0, 0, 0, 0.3);
}

<<<<<<< HEAD
=======
=======
>>>>>>> d110a8e5c065bc8ccdd8bb2071863c25ff114c3c
>>>>>>> 44e031ac6e7fb43d1bd09175d0674855a130ec32
.header-bottom-menu,
.top-footer  {
  background-color: #3d546e;
}

<<<<<<< HEAD
.header-bottom-menu a {
=======
<<<<<<< HEAD
.header-bottom-menu a {
=======
.header-bottom-menu a
{
>>>>>>> d110a8e5c065bc8ccdd8bb2071863c25ff114c3c
>>>>>>> 44e031ac6e7fb43d1bd09175d0674855a130ec32
  font-size: 17px;
  color: #ffffff;
}

<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 44e031ac6e7fb43d1bd09175d0674855a130ec32
.header-bottom-menu a:hover {
  background-color: #293449;
}

.header-bottom-menu a:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

<<<<<<< HEAD
=======
=======
>>>>>>> d110a8e5c065bc8ccdd8bb2071863c25ff114c3c
>>>>>>> 44e031ac6e7fb43d1bd09175d0674855a130ec32
.horizontal-banners .banner-item:first-child {
  background-color: #ffbf47;
}

.horizontal-banners .banner-item:nth-child(2) {
  background-color: #3bbce3;
}

.horizontal-banners .banner-item:last-child {
  background-color: #dc91d8;
}

<<<<<<< HEAD
.banner-item__hdr {
=======
<<<<<<< HEAD
.banner-item__hdr {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

.banner-item__btn {
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

.banner-item__btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.banner-item__btn:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.slider-item__hdr {
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}

=======
.banner-item .banner-item__hdr {
>>>>>>> 44e031ac6e7fb43d1bd09175d0674855a130ec32
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

.banner-item .banner-item__btn {
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

.slider-item__hdr {
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}

<<<<<<< HEAD
=======
>>>>>>> d110a8e5c065bc8ccdd8bb2071863c25ff114c3c
>>>>>>> 44e031ac6e7fb43d1bd09175d0674855a130ec32
.slider-item__txt {
  font-family: "PTSans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}

.main-button {
  background-color: #ff5357;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 44e031ac6e7fb43d1bd09175d0674855a130ec32
.main-button:hover {
  background-color: #ca2c37;
}

.main-button:active {
  background-color: #ba2732;
}

<<<<<<< HEAD
=======
=======
>>>>>>> d110a8e5c065bc8ccdd8bb2071863c25ff114c3c
>>>>>>> 44e031ac6e7fb43d1bd09175d0674855a130ec32
.vertical-banners .banner-item:first-child {
  background-color: #8ed78f;
}

.vertical-banners .banner-item:last-child {
  background-color: #ffc047;
}

.items-title,
.brand-title {
  background-color: #f9f5f0;
}

.items-title h2,
.brand-title h2 {
  font-size: 30px;
  color: #3d546e;
  text-transform: uppercase;
}

.popular-items .item {
  font-family: "PTSans", sans-serif;
}

.item .item-description {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

.item-price-old {
  font-size: 17px;
  font-weight: bold;
  color: #a9a9a9;
  text-decoration: line-through;
}

.item-price {
  background-color: #ee3643;
  font-size: 17px;
  font-weight: bold;
  color: #ffffff;
}

.item-buy__btn {
  background-color: #63a63e;
  color: #ffffff;
  font-family: "Cuprum", sans-serif;
  font-size: 14px;
}

.item-buy__btn:hover {
  background-color: #5fbb2d;
}

.item-buy__btn:active {
  background-color: #518534;
}

.item-bookmarks__btn {
  background-color: #ffffff;
  font-family: "Cuprum", sans-serif;
  color: #32425c;
  border: solid 3px #63a63e;
  border-radius: 2px;
}

.item-bookmarks__btn:hover {
  border-color: #32425c;
}

.item-bookmarks__btn:active {
  opacity: 0.3;
}

.heading-service {
  font-size: 30;
  text-transform: uppercase;
  color: #000000;
}

.service-slogan p,
.banner p {
  font-family: "PTSans", sans-serif;
  font-size: 13px;
}

.menu-item {
  background-color: #3d546e;
  color: #ffffff;
}

.menu-item:hover {
  background-color: #293449;
}

.menu-item.menu-active {
  background-color: #ffffff;
  color: #000000;
}

.service-banner h3 {
  font-size: 36;
  text-transform: uppercase;
}

.about {
  background-color: #ffffff;
}

.about-company h2,
.about-contacts h2 {
  font-size: 30px;
  color: #000000;
  text-transform: uppercase;
}

.about-text p,
.about-delivery p,
.about-contacts p {
  font-family: "PTSans", sans-serif;
  font-size: 13px;
}

.delivery-company {
  font-size: 18px;
  line-height: 20px;
}

.footer-contacts,
.footer-menu li:nth-child(odd) a,
.bottom-footer p {
   font-size: 18px;
   color: #f3f7f9;
}

.footer-contacts-address {
  font-style: normal;
}

.footer-menu li:nth-child(even) a,
.bottom-footer a {
  font-size: 18px;
  color: #ffda96;
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 44e031ac6e7fb43d1bd09175d0674855a130ec32
}

.footer-menu a:hover {
  text-decoration: underline;
<<<<<<< HEAD
=======
=======
>>>>>>> d110a8e5c065bc8ccdd8bb2071863c25ff114c3c
>>>>>>> 44e031ac6e7fb43d1bd09175d0674855a130ec32
}
