body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", sans-serif;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.service {
  background-color: #f3f7f9;
  padding-bottom: 103px;
}

.main-header {
  display: flex;
  flex-direction: column;
  background-color: #f3f7f9;
}

.header-top-menu {
  background-color: #293449;
  display: flex;
  width: 100%;
}

.header-top-menu__container {
  background-color: #33445a;
  color: #ffffff;
}

.header-top-menu__container {
  display: flex;
  max-width: 940px;
  min-height: 42px;
  margin-left: auto;
  margin-right: auto;
}

.header-logo {
  font-size: 24px;
  font-weight: 400;
  min-width: 220px;
  text-transform: uppercase;
  background-color: #ee3643;
  color: #ffffff;
  margin: 0;
  text-align: center;
  padding-top: 9px;
  box-shadow: 0 5px 0 0 #b52933;
}

.logo:hover {
  background-color: #ca2c37;
  box-shadow: 0 5px 0 0 #9a212a;
}

.top-menu-search__input,
.top-menu-bookmarks,
.top-menu-basket,
.top-menu-order {
  font-family: inherit;
  font-size: 17px;
  font-weight: 400;
  color: #ffffff;
  background-color: #293449;
}

.top-menu-search__input {
  border: none;
}

.search-form {
  width: 225px;
  padding-top: 10px;
  padding-left: 47px;
  background-color: #293449;
  position: relative;
}

.search-form::before {
  content: "";
  width: 16px;
  height: 18px;
  position: absolute;
  left: 17px;
  top: 12px;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.top-menu-bookmarks {
  width: 132px;
  padding-top: 11px;
  padding-left: 17px;
  position: relative;
  text-align: center;
}

.top-menu-bookmarks::before {
  content: "";
  width: 16px;
  height: 18px;
  position: absolute;
  left: 16px;
  top: 12px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.top-menu-basket {
  width: 131px;
  padding-top: 11px;
  padding-left: 20px;
  position: relative;
  text-align: center;
}

.top-menu-basket::before {
  content: "";
  width: 16px;
  height: 18px;
  position: absolute;
  left: 19px;
  top: 12px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.top-menu-order {
  background-color: #63a63e;
  display: inline-block;
  width: 150px;
  text-align: center;
  padding-top: 11px;
}

.top-menu-search__input:hover,
.top-menu-bookmarks:hover,
.top-menu-basket:hover {
  background-color: #212a3a;
}

.top-menu-bookmarks:active,
.top-menu-basket:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.top-menu-order:hover {
  background-color: #5fbb2d;
}

.top-menu-order:active {
  color: rgba(255, 255, 255, 0.51);
}

.top-menu-search__input:focus
{
  background-color: #ffffff;
  color: #000000;
}

.top-menu-search__input::-webkit-input-placeholder {
  color: #ffffff;
}

.top-menu-search__input::-moz-placeholder { /* Firefox 19+ */
  color: #ffffff;
  opacity: 1;
}

.top-menu-search__input:-ms-input-placeholder { /* IE 10+ */
  color: #ffffff;
  background-color: #33445a;
}

.top-menu-search__input:-moz-placeholder { /* Firefox 18- */
  color: #ffffff;
}

.header-middle-menu {
  display: flex;
  width: 940px;
  height: 68px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 50px;
}

.middle-menu-description {
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.44;
  color: #ff5357;
  width: 220px;
  margin: 0;
  margin-top: 10px;
  padding-left: 53px;
}

.middle-menu-contacts {
  width: 270px;
  min-height: 45px;
  text-align: center;
  margin-left: 47px;
  margin-top: 6px;
}

.middle-menu-phone {
  display: inline-block;
  font-size: 21px;
  color: #fb463c;
  border: 3px solid #ffffff;
  width: 244px;
  line-height: 39px;
  padding-left: 20px;
  position: relative;
}

.middle-menu-phone::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 12px;
  top: 10px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.middle-menu-address {
  margin-top: 8px;
  font-size: 14px;
  font-style: normal;
}

.user-menu {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-top: 6px;
}

.user-menu__btn {
  font-size: 21px;
  color: #000000;
  background-color: #ffffff;
  height: 35px;
  text-align: center;
  padding-top: 10px;
}

.user-menu__btn:hover {
  color: #ee3643;
}

.user-menu__btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-menu__btn_login {
  width: 96px;
  margin-right: 10px;
  text-align: right;
  padding-right: 25px;
  position: relative;
}

.user-menu__btn_login::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 14px;
  top: 13px;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-menu__btn_registry {
  width: 150px;
}

.user-link {
  font-size: 21px;
  color: #000000;
}

.user-link:active {
  opacity: 0.3;
}

.login-menu__lnk {
  font-size: 16px;
  color: #32425c;
}

.login-menu__lnk:hover {
  color: #ee3643;
  text-decoration: underline;
}

.login-menu__lnk:active {
  color: rgba(50, 66, 92, 0.3);
  text-decoration: underline;
}

.header-bottom-menu,
.top-footer  {
  background-color: #32425c;
}

.header-bottom-menu {
  display: flex;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 65px;
}

.header-bottom-menu ul {
  display: flex;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 21px;
  padding-right: 23px;
  box-shadow: 0 5px 0 0 #293449;
}

.header-bottom-menu ul li {
  flex-grow: 1;
}

.header-bottom-menu__item {
  display: block;
  text-align: center;
  font-size: 17px;
  color: #ffffff;
  padding-top: 19px;
  padding-bottom: 17px;
}

.header-bottom-menu__item:hover {
  background-color: #293449;
}

.header-bottom-menu a:active {
  background-color: #1d2739;
  box-shadow: 0 5px 0 0 #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

.only-banners {
  margin: 0;
  display: flex;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 19px;
}

.horizontal-banners {
  margin: 0;
  margin-top: 40px;
  width: 940px;
  display: flex;
  list-style-type: none;
  padding-left: 0;
  justify-content: space-between;
}

.horizontal-banners .banner-item {
  width: 300px;
  min-height: 123px;
  position: relative;
}

.banner-item__hdr {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 22px;
  margin-left: 22px;
  margin-bottom: 14px;
}

.banner-item__btn {
  display: block;
  margin-left: 25px;
  min-height: 23px;
  width: 135px;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 3px;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 3px;
}

.banner-item__img {
  position: absolute;
  bottom: 27px;
  right: 43px;
}

.banner-item__btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.banner-item__btn:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.horizontal-banners .banner-item:first-child {
  background-color: #ffbf47;
}

.horizontal-banners .banner-item:first-child::before {
  content: "";
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0px;
  right: -10px;
  background-image: url("../img/new flag.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 1;
}

.horizontal-banners .banner-item:nth-child(2) {
  background-color: #3bbce3;
}

.horizontal-banners .banner-item:last-child {
  background-color: #dc91d8;
}

.sliders {
  position: relative;
}

.slider-item {
  position: relative;
  margin-top: 20px;

}

.slider-item__hdr {
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  position: absolute;
  left: 24px;
  top: -15px;
}

.slider-item__txt {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  color: #ffffff;
  position: absolute;
  left: 25px;
  top: 44px;
}

.main-button {
  background-color: #ee3643;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 3px;
}

.catalog-button {
  position: absolute;
  width: 195px;
  height: 26px;
  top: 206px;
  left: 25px;
  text-align: center;
  padding-top: 12px;
}

.main-button:hover {
  background-color: #ca2c37;
}

.main-button:active {
  background-color: #ba2732;
}

.slider-arrows {
  position: absolute;
  top: 129px;
  left: 20px;
}

.slider-nav-arrow {
  border: none;
  background-color: transparent;
  font-size: 0;
  margin: 0;
  padding: 0;
}

.slider-nav-arrow-prev {
  width: 40px;
  height: 50px;
}

.slider-nav-arrow-prev::before {
  content: "";
  width: 32px;
  height: 40px;
  top: 5px;
  left: 5px;
  position: absolute;
  background-image: url("../img/icon-left.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider-nav-arrow-next {
  /*position: relative;*/
  width: 40px;
  height: 50px;
  margin-left: 505px;
}

.slider-nav-arrow-next::before {
  content: "";
  width: 32px;
  height: 40px;
  top: 5px;
  left: 558px;
  position: absolute;
  background-image: url("../img/icon-right.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider-nav {
  position: absolute;
  bottom: 34px;
  right: 293px;
}

.slider-nav__btn {
  border: none;
  background-color: transparent;
  font-size: 0;
  margin: 0;
  padding: 0;
}

.slider-nav__btn svg {
  width: 15px;
  height: 14px;
}

.vertical-banners {
  display: flex;
  margin: 0;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;
  min-height: 260px;
}

.vertical-banners .banner-item {
  width: 300px;
  min-height: 123px;
  margin-top: 20px;
  position: relative;
}

.vertical-banners .banner-item:first-child {
  background-color: #8ed78f;
}

.vertical-banners .banner-item:last-child {
  background-color: #ffc047;
}

.items-title,
.brand-title {
  background-color: #f9f5f0;
  display: flex;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.items-title h2 {
  font-size: 30px;
  font-weight: normal;
  color: #32425c;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-top: 28px;
  margin-bottom: 27px;
  margin-left: 28px;
}

.brand-title h2 {
  font-size: 30px;
  font-weight: normal;
  color: #32425c;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-top: 28px;
  margin-bottom: 27px;
  margin-left: 24px;
}

.item {
  font-family: "PT Sans", sans-serif;
  border: 1px solid #eaeaea;
  width: 218px;
  min-height: 316px;
  position: relative;
}

.item:last-child::before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  top: -1px;
  right: -11px;
  background-image: url("../img/new flag.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 3;
}

.item::after {
  content: "";
  width: 250px;
  height: 240px;
  position: absolute;
  top: 258px;
  left: 42px;
  background-image: url("../img/red-button.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.item img {
  margin-right: 1px;
}

.item-description {
  display: flex;
  width: 160px;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  margin-bottom: 11px;
}

.item-price-old {
  font-size: 17px;
  font-weight: bold;
  color: #a9a9a9;
  text-decoration: line-through;
  text-align: center;
  margin: 0;
  margin-left: 3px;
}

.item-price {
  font-size: 17px;
  font-weight: bold;
  color: #ffffff;
  top: 251px;
  left: 78px;
  position: absolute;
  z-index: 1;
}

.item-buy__btn {
  background-color: #63a63e;
  color: #ffffff;
  font-family: "Cuprum", sans-serif;
  font-size: 14px;
}

.item-buy__btn:hover {
  background-color: #5fbb2d;
}

.item-buy__btn:active {
  background-color: #518534;
}

.item-bookmarks__btn {
  background-color: #ffffff;
  font-family: "Cuprum", sans-serif;
  color: #32425c;
  border: solid 3px #63a63e;
  border-radius: 2px;
}

.item-bookmarks__btn:hover {
  border-color: #32425c;
}

.item-bookmarks__btn:active {
  opacity: 0.3;
}

.heading-service {
/*,
.informer__dsc {*/
  margin-top: 63px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

.service-slogan p,
.banner p,
.informer p {
  margin-top: 9px;
  margin-bottom: 10px;
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
}

.service-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 14px;
  width: 240px;
<<<<<<< HEAD
  position: relative;
}

.service-menu ul::after {
  content: "";
  width: 468px;
  height: 261px;
  position: absolute;
  top: -45px;
  left: 230px;
  background-image: url("../img/service-shadow.png");
  background-repeat: no-repeat;
  background-position: 0 0;
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
=======
>>>>>>> 1f7e30d469e582a3b2af7116de13d1f75431bc01
>>>>>>> 870c52984c141f37291cb4fa90f261c862f8fde5
>>>>>>> 5fff5965159d880029544d6f62afe388a8183f4a
}

.menu-item:not(.menu-active)  {
  display: block;
  min-height: 40px;
  background-color: #32425c;
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  text-align: left;
<<<<<<< HEAD
  padding-left: 22px;
=======
<<<<<<< HEAD
  padding-left: 22px;
=======
<<<<<<< HEAD
  padding-left: 22px;
=======
  padding-left: 21px;
>>>>>>> 1f7e30d469e582a3b2af7116de13d1f75431bc01
>>>>>>> 870c52984c141f37291cb4fa90f261c862f8fde5
>>>>>>> 5fff5965159d880029544d6f62afe388a8183f4a
  padding-top: 15px;
  padding-bottom: 3px;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
}

.menu-item:hover {
  background-color: #293449;
}

.menu-item.menu-active {
  display: block;
  min-height: 40px;
  background-color: #ffffff;
  color: #32425c;
  font-size: 21px;
  font-weight: bold;
  text-align: left;
<<<<<<< HEAD
  padding-left: 22px;
=======
<<<<<<< HEAD
  padding-left: 22px;
=======
<<<<<<< HEAD
  padding-left: 22px;
=======
  padding-left: 21px;
>>>>>>> 1f7e30d469e582a3b2af7116de13d1f75431bc01
>>>>>>> 870c52984c141f37291cb4fa90f261c862f8fde5
>>>>>>> 5fff5965159d880029544d6f62afe388a8183f4a
  padding-top: 16px;
  padding-bottom: 5px;
}

.service-banner h3 {
  font-size: 36px;
  color: #32425c;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 22px;
  position: relative;
  z-index: 1;
}

.service-banner p {
  padding: 0;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  position: relative;
  z-index: 1;
}

.about {
  background-color: #ffffff;
}

.about-company h2,
.about-contacts h2 {
  font-size: 30px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
  margin-top: 24px;
  margin-bottom: 24px;
}

.about-text p,
.about-delivery p,
.about-contacts p {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  padding: 0;
  margin: 0;
  line-height: 24px;
  width: 530px;
}

.about-delivery {
  margin-top: 24px;
}

.list-delivery {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 21px;
  margin-bottom: 36px;
  padding-left: 37px;
}

.about-button {
  display: block;
  width: 220px;
  min-height: 26px;
  text-align: center;
  padding-top: 12px;
  padding-left: 1px;
  border-radius: 3px;
}

.delivery-company {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 20px;
}

.delivery-company::after {
  <svg>
    <rect width="50%" height="100" fill="orange"/>
  </svg>
}

.footer-contacts,
.footer-menu-primary a {
   font-size: 18px;
   color: #f3f7f9;
}

.footer-menus {
  display: flex;
  flex-direction: column;
}

.footer-menu-secondary a {
   font-size: 18px;
   color: #ffda96;
}

.footer-menu-primary,
.footer-menu-secondary {

}

.footer-menu-primary {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
  justify-content: space-between;
  width: 549px;
  padding-top: 40px;
  margin-left: 64px;
}

.footer-menu-secondary {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
  justify-content: space-between;
  width: 525px;
  margin-top: 38px;
  margin-left: 87px;
}

.footer-logo {
  font-size: 24px;
  font-weight: 400;
  min-width: 220px;
  text-transform: uppercase;
  background-color: #ee3643;
  color: #ffffff;
  margin: 0;
  text-align: center;
  padding-top: 9px;
  box-shadow: 0 5px 0 0 #b52933;
}

.footer-contacts-address {
  font-style: normal;
}

.bottom-footer a:active {
  color: #ee3643;
}

.popup-write-us label {
  font-size: 17.5px;
}

.popup-write-us input::-webkit-input-placeholder,
.popup-write-us textarea::-webkit-input-placeholder {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  color: #a9a9a9;
}

.popup-write-us input::-moz-placeholder,
.popup-write-us textarea::-moz-placeholder { /* Firefox 19+ */
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  color: #a9a9a9;
  opacity: 1;
}

.popup-write-us input:-ms-input-placeholder,
.popup-write-us textarea:-ms-input-placeholder { /* IE 10+ */
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  color: #a9a9a9;
  background-color: #33445a;
}

.popup-write-us input:-moz-placeholder,
.popup-write-us textarea:-moz-placeholder { /* Firefox 18- */
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  color: #a9a9a9;
}

.popup-write-us .send {
  background-color: #ee3643;
  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

.crumb {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  color: #000000;
  text-transform: uppercase;
}

.crumb a {
  color: #000000;
}

/*.filters h1 {
теперь это catalog-header
  background-color: #f2f6f8;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
}*/

.filter-description,
.sorting,
.sorting-description {
  background-color: #f7f3ec;
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
}

.filter__legend {
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
}

.manufacturer__list,
.power__lbl {
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}

.filter-button {
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
}

.sorting-link {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted red;
}

.sorting-link:hover {
  color: #000000;
  border-bottom: 1px solid red;
}

.sorting-link-active {
  color: #ee3643;
  border-bottom: none;
}

.page_active__link {
  background-color: #ee3643;
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  color: #ffffff;
}

.page__link {
  border: solid 1px #e5e5e5;
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  color: #000000;
  text-transform: uppercase;
}

.page__link:hover {
  border: solid 1px #bdc6ca;
}

.page__link:active {
  border: solid 1px #ee3643;
}

.informer {
  background-color: #f2f6f8;
}

.added-to-card label {
  font-size: 30px;
  color: #000000;
}

.added-to-card .checkout {
  border: none;
  background-color: #ee3643;
  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.added-to-card .continue {
  border: none;
  background-color: #ffffff;
  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
}

.slider-and-banners {
  display: flex;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 49px;
  justify-content: space-between;

}

.title-button {
  margin-left: auto;
  margin-right: 24px;
  margin-top: 25px;
  margin-bottom: auto;
  text-align: center;
  padding-top: 12px;
  width: 253px;
  min-height: 26px;
}

.popular-items {
  display: flex;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 21px;
  justify-content: space-between;
}

.price-old-none {
  visibility: hidden;
}

.popular-brands {
  display: flex;
  width: 940px;
  padding-left: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 85px;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ebebeb;
  width: 218px;
  height: 143px;
  margin-top: 20px;
}

/*.brand a {
  width: 100%;
  height: 100%;
}*/

.brand img {
  margin: auto;
  padding: 20px;
}

.service__wrapper {
  display: flex;
  flex-direction: column;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.services-banners {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  position: relative;
}

.service-banner {
  padding-left: 80px;
}

.service-delivery::after {
  content: "";
  width: 468px;
  height: 261px;
  position: absolute;
  top: 37px;
  left: 471px;
  background-image: url("../img/banner-delivery.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.about {
  display: flex;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 53px;
  margin-bottom: 6px;
  justify-content: space-between;
}

.about-contacts {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.about-contacts p {
  width: 185px;
  padding-bottom: 31px;
}

.contacts-button {
  width: 295px;
  min-height: 26px;
  padding-top: 12px;
  padding-left: 5px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 80px;
}

.top-footer {
  background-color: #32425c;
}

.top-footer__wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  width: 940px;
  min-height: 193px;
  margin-left: auto;
  margin-right: auto;
}

.footer-logo {
  margin: 0;
  padding: 0;
  width: 220px;
  font-size: 30px;
  min-height: 47px;
  text-align: center;
  padding-top: 16px;
  margin-bottom: 30px;
}

.footer-contacts-address {
  width: 325px;
  padding: 0;
  margin: 0;
  padding-top: 5px;
  padding-left: 3px;
  padding-bottom: 3px;
}

.footer-contacts-phone {
  color: white;
  padding-left: 3px;
  font-size: 18px;
}

.bottom-footer {
  display: flex;
  min-height: 107px;
  background-color: #293449;
  color: #ffffff;
}

.bottom-footer__wrapper {
  display: flex;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.copyright {
  margin: auto;
  margin-top: 37px;
  margin-left: 2px;
}

.copyright p {
  margin: 0;
  /*margin-bottom: 2px;*/
  font-size: 16px;
}

.social {
  display: flex;
  flex-direction: row;
  width: 135px;
  list-style: none;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
}

.social li {
  margin: auto;
}

.feedback {
  margin: auto;
}

.feedback p {
  margin: 0;
}

.development {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-right: 0;
}

.development p {
  margin: 0;
}

/*Сетка каталога*/

.user-cabinet {
  display: flex;
  flex-direction: column;
}

.user-link {
  display: block;
  background-color: #ffffff;
  width: 300px;
  min-height: 35px;
  text-align: center;
  padding-top: 10px;
}

.login-menu {
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
  text-decoration: underline;
}

.breadcrumbs__wrapper {
  display: flex;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.breadcrumbs {
  display: flex;
  list-style: none;
  padding-left: 0;
  width: 360px;
  justify-content: space-between;
}

.catalog-header__wrapper {
  display: flex;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
    background-color: #f2f6f8;
}

.catalog-header {
  background-color: #f2f6f8;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 30px;
}

.filters-sorting-catalog {
  display: flex;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.filters {
  width: 220px;
}

.sorting-and-catalog {
  width: 700px;
  margin-left: 20px;
}

.filter-description {
  width: 200px;
  min-height: 30px;
  padding-top: 15px;
  padding-left: 20px;
}

.sorting {
  display: flex;
  min-height: 25px;
  margin-top: 10px;
  justify-content: space-between;
}

.sorting-description {
  margin: 0;
  padding-left: 20px;
  padding-top: 15px;
}

.sorting-values {
  display: flex;
  list-style: none;
  padding-left: 0;
  justify-content: space-between;
}

.sorting-sequences {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.main-catalog {
  padding-left: 20px;
}

.all-catalog {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}

.catalog-item {
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #e5e5e5;
}

.paginator {
  display: flex;
  margin-left: 20px;
  margin-bottom: 50px;
}

.page-button {
  width: 40px;
  min-height: 25px;
  text-align: center;
  padding-top: 15px;
}

.page__link {
  margin-left: 10px;
}

.page-next-button {
  text-align: center;
  width: 124px;
  padding-top: 15px;
}

.informer__wrapper {
  width: auto;
  background-color: #f2f6f8;
}

.informer {
  display: flex;
  flex-direction: column;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.informer__dsc {
  margin-top: 50px;
}

.informer p {
  margin: 0;
  padding: 0;
  line-height: 25px;
}
